# MongoDB
DATABASE_URL=mongodb+srv://username:password@cluster.example.mongodb.net/?appName=flowyn
DB_NAME=flowyn
PORT=3001
FRONTEND_URL=http://localhost:3000

# JWT Authentication
JWT_SECRET=super-secret-jwt-key
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=super-secret-refresh-key
JWT_REFRESH_EXPIRES_IN=7d
COOKIE_SECURE=false

# Invitation email
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=sender@gmail.com
SMTP_PASS=google-app-password
APP_URL=http://localhost:3000
COMPANY_TIME_ZONE=Asia/Bangkok

# Redis (BullMQ Queue)
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# Cloudinary (File Storage)
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# AI Service
OPENAI_API_KEY=your_openai_api_key
